body
    max-width: 1441px
    margin: 0 auto
.container
    width: 100%
    margin: 0 auto
    padding: 0 70px
    height: 100%
.first-screen
    position: relative
    height: 100vh
    width: 100%
    margin: 0 auto
    padding-top: 35px
    padding-bottom: 229px
    background: url(../img/bg/first-screen-bg.jpg)
    background-size: cover
    background-position: center bottom
    background-repeat: no-repeat
    .header
        width: 100%
        height: 90px
        margin: 0 auto
        display: flex
        justify-content: space-between
        align-items: center
        div
            width: 33%
        .logo
            width: 161px
            height: 65px
            a
                img
                    width: 100%
        .search-form
            margin: 0 auto
            width: 100%
            form
                position: relative
                width: 400px
                margin: 0 auto
                input
                    width: 400px
                    height: 30px
                    padding: 0 10px
                    background: #FFFFFF
                    border-radius: 15.5px
                    border: none
                    outline: none
                    text-align: center
                button
                    height: 15px
                    width: 15px
                    position: absolute
                    top: 50%
                    transform: translateY(-50%)
                    left: 10px
                    cursor: pointer
                    border: none
                    outline: none
                    background: transparent
                    &::before
                        content: ''
                        display: block
                        width: 14px
                        height: 14px
                        background: url('../icons/search.svg')
        nav
            display: flex
            justify-content: flex-end
            align-items: center
            .cart-link
                z-index: 1
                width: 26px
                height: 25px
                margin-right: 35px
            .cart
                &-menu-hover
                    fill: black
            .hamburger
                z-index: 1
                width: 26px
                height: 23px
                display: flex
                flex-direction: column
                justify-content: space-between
                cursor: pointer
                span
                    display: block
                    height: 2px
                    width: 100%
                    background-color: #ffffff
                    transition: 0.3s all
                &-active
                    justify-content: center
                    span
                        background-color: #000000
                        margin-bottom: -2px
                        &:nth-child(1)
                            transform: rotate(-45deg)
                        &:nth-child(2)
                            display: none
                        &:nth-child(3)
                            transform: rotate(45deg)
            .menu
                z-index: 0
                position: absolute
                margin: 0
                display: flex
                flex-direction: column
                width: 346px
                border-radius: 0px
                padding-top: 70px
                padding-right: 62px
                padding-left: 72px
                height: 550px;
                justify-content: center
                background: #ffffffb4
                top: -637px
                right: 0px
                transition: 0.6s all
                &-item
                    position: relative
                    list-style-type: none
                    margin-bottom: 15px
                    &:nth-child(4) 
                        margin-top: 40px
                    &:nth-child(n+4) a
                        font-weight: 400
                        font-size: 18px    
                &-link
                    font-weight: 700
                    font-size: 24px
                    color: #000000
                    text-decoration: none
                    &::before
                        position: absolute
                        bottom: 0
                        transition: 0.8s all
                        content: ''
                        display: block
                        height: 1px
                        background-color: #000000
                        width: 0%
                    &:hover
                        &::before
                            width: 100%
                &-active
                    top: -37px
    .bike
        position: absolute
        bottom: 229px
        &-model
            font-weight: 400
            font-size: 24px
            color: #FFFFFF
            text-transform: uppercase
        &-discr
            font-weight: 700
            font-size: 64px
            color: #FFFFFF
        &-link
            display: flex
            justify-content: center
            align-items: center
            margin-top: 25px
            width: 206px
            height: 41px
            background: #000000
            transition: 0.5s all
            &:hover
                border-radius: 45px
            a
                text-decoration: none
                font-weight: bold
                font-size: 18px
                color: #FFFFFF
.second-screen
    width: 100%
    margin: 0 auto
    padding-top: 120px
    padding-bottom: 157px
    background: url(../img/bg/second-bg.svg)
    .category
        &-title
            font-weight: 700
            font-size: 64px
            line-height: 60px
            color: #000000
    .bike-slider
        margin-top: 31px
        position: relative
        .bg-layer-prev
            width: 204px
            height: 320px
            position: absolute
            z-index: 2
            background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%)
        .bg-layer-next
            width: 204px
            height: 320px
            position: absolute
            z-index: 2
            right: 0
            background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%)
            transform: matrix(-1, 0, 0, 1, 0, 0)
        .swiper-slide-wrapper
            position: relative
        .swiper-slide-discr
            position: absolute
            left: 50%
            transform: translateX(-37%)
            bottom: 20px
            font-family: Coven
            font-weight: normal
            font-size: 40px
            text-align: center
            color: #FFFFFF
        .swiper-button-prev
            left: 100px
            color: #FFFFFF
        .swiper-button-next
            right: 100px
            color: #FFFFFF   
    .product
        margin-top: 170px
        &-title
            font-weight: 700
            font-size: 64px
            line-height: 60px
            color: #000000
        &-wrapper
            margin-top: 30px
            display: flex
            height: 450px
            .mainitem
                flex-grow: 1
                width: 746px
                background: #b5ced8
            .sideitem
                width: 550px
                display: flex
                flex-direction: column
                justify-content: space-between
                flex-wrap: wrap
                &-item
                    margin: 1px
                    height: 210px
                    width: 245px
                    margin: 0 15px
                    background: grey

                

                
            
