html
    &:root
        --swiper-navigation-size: 33px
body
    max-width: 1441px
    margin: 0 auto
.container
    width: 100%
    margin: 0 auto
    padding: 0 70px
    height: 100%
.first-screen
    position: relative
    height: 100vh
    width: 100%
    margin: 0 auto
    padding-top: 35px
    padding-bottom: 229px
    background: url(../img/bg/first-screen-bg.jpg)
    background-size: cover
    background-position: center bottom
    background-repeat: no-repeat
    .header
        width: 100%
        height: 90px
        margin: 0 auto
        display: flex
        justify-content: space-between
        align-items: center
        div
            width: 33%
        .logo
            width: 161px
            height: 65px
            a
                img
                    width: 100%
        .search-form
            margin: 0 auto
            width: 100%
            form
                position: relative
                width: 400px
                margin: 0 auto
                input
                    width: 400px
                    height: 30px
                    padding: 0 10px
                    background: #FFFFFF
                    border-radius: 15.5px
                    border: none
                    outline: none
                    text-align: center
                button
                    height: 15px
                    width: 15px
                    position: absolute
                    top: 50%
                    transform: translateY(-50%)
                    left: 10px
                    cursor: pointer
                    border: none
                    outline: none
                    background: transparent
                    &::before
                        content: ''
                        display: block
                        width: 14px
                        height: 14px
                        background: url('../icons/search.svg')
        nav
            display: flex
            justify-content: flex-end
            align-items: center
            .cart-link
                z-index: 1
                width: 26px
                height: 25px
                margin-right: 35px
            .cart
                &-menu-hover
                    fill: black
            .hamburger
                z-index: 1
                width: 26px
                height: 23px
                display: flex
                flex-direction: column
                justify-content: space-between
                cursor: pointer
                span
                    display: block
                    height: 2px
                    width: 100%
                    background-color: #ffffff
                    transition: 0.3s all
                &-active
                    justify-content: center
                    span
                        background-color: #000000
                        margin-bottom: -2px
                        &:nth-child(1)
                            transform: rotate(-45deg)
                        &:nth-child(2)
                            display: none
                        &:nth-child(3)
                            transform: rotate(45deg)
            .menu
                z-index: 0
                position: absolute
                margin: 0
                display: flex
                flex-direction: column
                width: 346px
                border-radius: 0px
                padding-top: 70px
                padding-right: 62px
                padding-left: 72px
                height: 550px;
                justify-content: center
                background: #ffffffb4
                top: -637px
                right: 0px
                transition: 0.6s all
                &-item
                    list-style-type: none
                    margin-bottom: 15px
                    &:nth-child(4) 
                        margin-top: 40px
                    &:nth-child(n+4) a
                        font-weight: 400
                        font-size: 18px    
                &-link
                    position: relative
                    font-weight: 700
                    font-size: 24px
                    color: #000000
                    text-decoration: none
                    &::before
                        position: absolute
                        bottom: 0
                        transition: 0.6s all
                        content: ''
                        display: block
                        height: 1px
                        background-color: #000000
                        width: 0%
                    &:hover
                        &::before
                            width: 100%
                &-active
                    top: -37px
    .bike
        position: absolute
        bottom: 229px
        &-model
            font-weight: 400
            font-size: 24px
            color: #FFFFFF
            text-transform: uppercase
        &-discr
            font-weight: 700
            font-size: 64px
            color: #FFFFFF
        &-link
            display: flex
            justify-content: center
            align-items: center
            margin-top: 25px
            width: 206px
            height: 41px
            background: #000000
            transition: 0.5s all
            &:hover
                border-radius: 45px
            a
                text-decoration: none
                font-weight: bold
                font-size: 18px
                color: #FFFFFF
.second-screen
    width: 100%
    margin: 0 auto
    padding-top: 120px
    padding-bottom: 157px
    background: url(../img/bg/Vector-second-bg.svg)
    .category
        &-title
            font-weight: 700
            font-size: 64px
            line-height: 60px
            color: #000000
    .bike-slider
        margin-top: 31px
        position: relative
        .bg-layer-prev
            width: 204px
            height: 320px
            position: absolute
            z-index: 2
            background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%)
        .bg-layer-next
            width: 204px
            height: 320px
            position: absolute
            z-index: 2
            right: 0
            background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%)
            transform: matrix(-1, 0, 0, 1, 0, 0)
        .swiper-slide-wrapper
            position: relative
        .swiper-slide-discr
            position: absolute
            left: 50%
            transform: translateX(-37%)
            bottom: 20px
            a
                font-family: Coven
                font-weight: normal
                font-size: 40px
                text-align: center
                text-decoration: none
                color: #FFFFFF
        .swiper-button-prev
            left: 100px
            color: #FFFFFF
        .swiper-button-next
            right: 100px
            color: #FFFFFF   
    .product
        margin-top: 170px
        &-title
            font-weight: 700
            font-size: 64px
            line-height: 60px
            color: #000000
        &-wrapper
            margin-top: 30px
            display: flex
            height: 450px
            .mainitem
                position: relative
                padding: 60px 72px 0 0
                flex-grow: 1
                width: 746px
                text-align: right
                background: #151515
                &-titl
                    font-weight: 700
                    font-size: 36px
                    text-transform: uppercase
                    color: #FFFFFF
                &-discr
                    font-weight: 400
                    font-size: 18px
                    line-height: 23px
                    color: #FFFFFF
                &-img
                    width: 506px
                    height: 269px
                    margin-top: 57px
                    img
                        height: 100%
                        width: 100%
                &-link
                    a
                        transition: 0.5s all
                        position: absolute
                        bottom: 50px
                        right: 50px
                    a:hover 
                        transform: scale(1.2)
        
            .sideitem
                width: 550px
                display: flex
                flex-direction: column
                justify-content: space-between
                flex-wrap: wrap
                &-item
                    padding: 30px 0
                    height: 210px
                    width: 245px
                    margin: 0 15px
                    background: #151515
                    &-img
                        margin: 0 auto
                        height: 100px
                        width: 108px
                        img
                            height: 100%
                            width: 100%
                    &-discr
                        margin: 0 auto
                        margin-top: 21px
                        width: 100%
                        text-align: center
                        a
                            font-weight: 400
                            text-decoration: none
                            font-size: 24px
                            color: #FFFFFF
.streetster-info
    background-color: #F2F2F2
    min-height: 275px
    padding: 50px 0
    &-text 
        font-weight: 400
        font-size: 24px
        color: #000000
.streetster-descr
    min-height: 903px
    padding-top: 83px
    background-image: url(../img/bg/Vector-third-bg.svg)
    background-repeat: no-repeat
    .streetster-titl
        font-weight: 700
        font-size: 36px
        text-align: center
        color: #000000
    .streetster
        margin-top: 63px
        padding: 0 70px
        display: flex
        justify-content: space-between
        &-item
            height: 300px
            width: 331px
            position: relative
            &-img
                height: 133.6px
                width: 133.6px
                position: absolute
                top: 0
                left: 50%
                transform: translateX(-50%)
                z-index: 1
                img
                    height: 100%
                    width: 100%
            &-descr
                height: 210px
                width: 100%
                position: absolute
                bottom: 0
                padding: 57px 18px 24px 18px
                background-color: #F2F2F2
                &-titl 
                    margin: 0
                    font-weight: 700
                    font-size: 24px
                    text-align: center
                    color: #000000
                &-text 
                    margin-top: 10px
                    font-weight: 400
                    font-size: 18px
                    text-align: center
                    color: #000000
.news
    position: relative
    top: -250px
    &-titl
        text-align: center
        font-weight: 700
        font-size: 64px
        color: #000000
    .slider-box
        position: relative
        margin-top: 63px
        .news-slider 
            position: static
            width: 1098px
            height: 558.4px
            .swiper-slide-news
                width: 338px
                .slide-news-img
                    width: 338px
                    height: 288px
                .news-descr
                    position: relative
                    width: 338px
                    height: 270px
                    padding-top: 20px
                    background: #F2F2F2
                    &-titl 
                        width: 100%
                        font-weight: 700
                        font-size: 24px
                        text-align: center
                        color: #000000 
                    &-text 
                        width: 100%
                        margin-top: 14px
                        font-weight: 400
                        font-size: 18px
                        text-align: center
                        color: #000000
                    .news-btn
                        position: absolute
                        bottom: 0
                        width: 338px
                        height: 52.47px
                        border: 3px solid #000000
                        box-sizing: border-box
                        font-weight: 700
                        font-size: 18px
                        text-align: center
                        color: #000000

                        &:hover
                            cursor: pointer
                            background: #000000
                            border: 3px solid #000000
                            box-sizing: border-box
                            color: #FFFFFF
            .swiper-button-prev
                left: 100px
                color: #000000
            .swiper-button-next
                right: 100px
                color: #000000
