header
    position: absolute
    width: 100%
    top: 35px
    z-index: 1
    .container-header
        display: flex
        justify-content: space-between
        align-items: center
        div
            width: 33%
.container
    padding: 0 70px
    height: 100%
    position: relative
    .logo
        width: 161px
        height: 65px
        a
            img
                width: 100%
    .search-form
        margin: 0 auto
        width: 400px
        height: 30px
        background: #FFFFFF
        border-radius: 15.5px
    nav
        display: flex
        justify-content: flex-end
        align-items: center
        .cart
            width: 26px
            height: 25px
            










.first-screen
    height: 100vh
    
    padding-bottom: 229px
    background: url(../img/bg/first-screen-bg.jpg)
    background-size: cover
    background-position: center bottom
    background-repeat: no-repeat
    .bike
        position: absolute
        bottom: 0
        &-model
            font-weight: 400
            font-size: 24px
            color: #FFFFFF
            text-transform: uppercase
        &-discr
            font-weight: 700
            font-size: 64px
            color: #FFFFFF
        &-link
            display: flex
            justify-content: center
            align-items: center
            width: 206px
            height: 41px
            background: #000000
            transition: 0.3s all
            &:hover
                border-radius: 45px
            a
                text-decoration: none
                font-weight: bold
                font-size: 18px
                color: #FFFFFF