@media  ( max-width: 1200px )
    .container
        padding: 0 40px
    .streetster-promo
        .model-info
            bottom: 28.5vh
        .model-info-descr
            p
                font-size: 50px
    .second-screen .category-bike-slider-title,.second-screen .product-favorite-title,.streetster-descr .streetster-titl,.section-news-titl
        font-size: 60px
    .second-screen .product-favorite-wrapper 
        flex-direction: column
        max-height: none
    .second-screen .product-favorite-wrapper .product-main
        width: 100%
    .second-screen .product-favorite-wrapper .product-second
        width: 100%
        flex-direction: row
        justify-content: space-between
        align-items: center
        margin-top: 30px
    .second-screen .product-favorite-wrapper .product-second-item
        margin: 0
        margin-bottom: 30px
        height: 210px
        width: 100%
        max-width: 48%
    .second-screen .bike-slider .swiper-slide-discr a
        font-size: 35px
    .second-screen .product-favorite-wrapper .product-second-item:nth-child(1),.second-screen .product-favorite-wrapper .product-second-item:nth-child(2)
        margin: 0
        margin-bottom: 30px
    .streetster-descr .streetster
        margin-top: 100px
        flex-wrap: wrap
        justify-content: center
        padding: 0
    .streetster-descr .streetster-item
        margin-bottom: 30px
    .streetster-descr .streetster-item-img
        top: -50%
        transform: translate(-50%,50%)
    .streetster-descr
        min-height: unset
    .streetster-descr .streetster-item-descr
        padding: 45px 18px 15px 18px
        position: static
        height: unset
    .section-news
        top: 0
    footer
        position: static
        .footer-category,.footer-info
            margin: 0 15px
        .footer-logo
            min-width: 150px

        
@media  ( max-width: 1081px )
    .second-screen .category-bike-slider-title,.second-screen .product-favorite-title,.streetster-descr .streetster-titl,.section-news-titl
        font-size: 55px   
    .header .right-menu .menu
        width: 50%   
    .header .right-menu .menu-active
        text-align: center
    .header .right-menu .menu .social-nav
        justify-content: center
    .header .right-menu .menu .info-nav .nav-link::before, .header .right-menu .menu .main-nav .nav-link::before, .header .right-menu .menu .social-nav .nav-link::before
        left: 0
    .section-news .slider-box .news-slider .news-item .slide-news-img,.section-news .slider-box .news-slider .news-item .news-descr
        margin: 0 auto
    .section-news .mailer-box .subscribe-titl
        font-size: 30px
    .section-news .mailer-box .subscribe .subscribe-form-email
        width: 375px
    footer .footer-nav  
        margin-left: 30px 

        

@media  ( max-width: 888px )

    .container
        padding: 0 30px
    .streetster-promo
        .model-info-name
            font-size: 20px
        .model-info-descr
            p
                font-size: 40px
    .second-screen .category-bike-slider-title,.second-screen .product-favorite-title,.streetster-descr .streetster-titl,.section-news-titl
        font-size: 50px
    .second-screen .bike-slider .swiper-button-next,.second-screen .bike-slider .swiper-button-prev, .second-screen .bike-slider .bg-layer-next,.second-screen .bike-slider .bg-layer-prev
        display: none
    .second-screen .bike-slider .swiper-slide-discr a
        font-size: 30px
    footer .footer-category ul a, footer .footer-info ul a
        font-size: 13px
    footer   
        .footer-logo
            min-width: 110px
            height: 50px
        
    

@media  ( max-width: 767px )
    .container
        padding: 0 15px
    .second-screen .category-bike-slider-title,.second-screen .product-favorite-title,.streetster-descr .streetster-titl,.section-news-titl
        font-size: 40px
    .header .search-form
        display: none
    .header div
        width: 100%
    .header .right-menu .menu
        width: 100%
    .streetster-promo
        .model-info-name
            font-size: 18px
        .model-info-descr
            p
                font-size: 30px
    .second-screen .product-favorite-wrapper .product-second
        width: 100%
        flex-direction: column
        justify-content: space-between
        align-items: center
        margin-top: 30px
    .second-screen .product-favorite-wrapper .product-second-item
        margin: 0
        margin-bottom: 30px
        height: 210px
        max-width: 100%
        width: 100%
    .second-screen .bike-slider .swiper-slide-discr a
        font-size: 20px
    .section-news .slider-box .news-slider .news-item .slide-news-img,.section-news .slider-box .news-slider .news-item .news-descr
        margin: 0 auto
    .section-news .slider-box .news-slider .swiper-button-next
        right: 0
    .section-news .slider-box .news-slider .swiper-button-prev
        left: 0
    .section-news .mailer-box .subscribe-titl
        font-size: 26px
    .section-news .mailer-box .subscribe .subscribe-form-email
        width: 360px
    footer .footer-category ul li, footer .footer-info ul li
        font-size: 16px
    footer .footer-logo
        display: none
    footer .footer-nav
        margin: 0
        flex-wrap: wrap
        justify-content: space-between

@media  ( max-width: 560px )
    .second-screen .category-bike-slider-title,.second-screen .product-favorite-title,.streetster-descr .streetster-titl,.section-news-titl
        font-size: 35px
    .streetster-promo 
        .model-info-descr
            p
                font-size: 24px
        .model-info-name
            font-size: 16px
    .second-screen .bike-slider .swiper-slide-discr a
        font-size: 18px
    .section-news .mailer-box .subscribe-titl
        font-size: 24px
    .section-news .mailer-box .subscribe .subscribe-form-email
        width: 350px

    
@media  ( max-width: 470px )
    .container
        padding: 0 10px
    .streetster-promo
        padding-top: 0
    .second-screen
        padding-top: 60px
        padding-bottom: 90px
    .second-screen .product-favorite
        margin-top: 60px
        
    .second-screen .category-bike-slider-title,.second-screen .product-favorite-title,.streetster-descr .streetster-titl,.section-news-titl
        font-size: 30px
    .header .logo
        width: 83px
        height: 36px
    .streetster-promo 
        .model-info-descr
            p
                font-size: 21px
        .model-info-name
            font-size: 14px
    .second-screen .bike-slider .swiper-slide-discr a
            font-size: 13px
    .streetster-descr .streetster-item
        margin-bottom: 0
    .section-news .mailer-box .subscribe-titl
        font-size: 20px
    .section-news .mailer-box .subscribe .subscribe-form-email
        width: 310px
    .section-news .mailer-box
        margin-top: 60px
    
    
@media  ( max-width: 375px )
    .streetster-promo 
        .model-info-descr
            p
                font-size: 16px
        .model-info-name
            font-size: 14px
    .section-news .mailer-box .subscribe-titl
        font-size: 20px
    .section-news .mailer-box .subscribe .subscribe-form-email
        width: 280px

    