@media  ( max-width: 1200px )
    .container
        padding: 0 40px
    
    .streetster-promo
        .model-info
            bottom: 28.5vh
        .model-info-descr
            p
                font-size: 50px
    .second-screen .product-favorite-wrapper 
        flex-direction: column
        max-height: none
    .second-screen .product-favorite-wrapper .product-main
        width: 100%
    .second-screen .product-favorite-wrapper .product-second
        flex-direction: row
        
@media  ( max-width: 1081px )   
    .header .right-menu .menu
        width: 50%   
    .header .right-menu .menu-active
        text-align: center
    .header .right-menu .menu .social-nav
        justify-content: center
    .header .right-menu .menu .info-nav .nav-link::before, .header .right-menu .menu .main-nav .nav-link::before, .header .right-menu .menu .social-nav .nav-link::before
        left: 0

@media  ( max-width: 888px )
    .container
        padding: 0 30px
    .streetster-promo
        .model-info-name
            font-size: 20px
        .model-info-descr
            p
                font-size: 40px
        

@media  ( max-width: 767px )
    .container
        padding: 0 15px
    .header .search-form
        display: none
    .header div
        width: 100%
    .header .right-menu .menu
        width: 100%
    .streetster-promo
        .model-info-name
            font-size: 18px
        .model-info-descr
            p
                font-size: 30px

@media  ( max-width: 560px )
        .streetster-promo 
            .model-info-descr
                p
                    font-size: 24px
            .model-info-name
                font-size: 16px

@media  ( max-width: 470px )
    .container
        padding: 0 10px
    .streetster-promo 
        .model-info-descr
            p
                font-size: 16px
        .model-info-name
            font-size: 14px


    